# azure
azure-data-tables
azure-functions>=1.14.0
azure-functions-durable>=1.2.3 # Blueprints Required
azure-identity
azure-keyvault-secrets
azure-storage-blob
azure-storage-file-datalake
azure-storage-queue

# required
## data handling
marshmallow
marshmallow-jsonapi
marshmallow-sqlalchemy>=0.29.0
pandas>=2.0.0
smart-open
sqlalchemy>=2.0.0
fastparquet
## openapi
git+https://github.com/ggpwnkthx/aiopenapi3
httpx_auth
## tools
frozendict
fuzzywuzzy
googlemaps>=4.10.0
querystring-parser
werkzeug
## security
itsdangerous
py-abac


# optional
## database connectors
boto3
pymssql
pyodbc
psycopg2
## formatting
pyarrow
orjson # fast (de)serialization
simplejson # flexible (de)serialization
sql-formatter
xlsxwriter
## geometry/geography
geoalchemy2 @ git+https://github.com/Esquire-Media/geoalchemy2
geojson
marshmallow-geojson
pyproj
shapely
haversine
h3
bitarray
pytz
timezonefinder
timezonefinder[pytz]
scikit-learn
## security
requests-auth-aws-sigv4
## temporary necessities
facebook-business
smartystreets-python-sdk
fuzzywuzzy
python-Levenshtein
python-dotenv
pydantic==2.4.2
# data viz
plotly
kaleido
python-pptx==0.6.21
matplotlib
seaborn
adaptive-cards-py @ git+https://github.com/dennis6p/adaptive-cards-py.git
nbformat>=4.2.0