# azure
azure-data-tables==12.5.0
azure-functions==1.19.0
azure-functions-durable==1.2.9 # Blueprints Required
azure-identity
azure-keyvault-secrets
azure-storage-blob
azure-storage-file-datalake
azure-storage-queue
azurefunctions-extensions-bindings-blob

# required
## database connectors
boto3<=1.34.100
pymssql==2.3.0
pyodbc==5.1.0
psycopg2-binary==2.9.9
sqlalchemy==2.0.30
## data handling
marshmallow==3.21.3
marshmallow-geojson==0.5.0
marshmallow-jsonapi==0.24.0
marshmallow-sqlalchemy==0.29.0
pydantic
pandas
fsspec==2024.6.0
s3fs==2024.6.0
adlfs
## openapi
git+https://github.com/ggpwnkthx/aiopenapi3
httpx_auth==0.21.0
## tools
frozendict
fuzzywuzzy
googlemaps==4.10.0
werkzeug
## security
# itsdangerous
requests-auth-aws-sigv4
## notification
adaptive-cards-py @ git+https://github.com/dennis6p/adaptive-cards-py.git
## geometry/geography
geoalchemy2 @ git+https://github.com/Esquire-Media/geoalchemy2
pyproj
shapely
haversine
h3==3.7.7
## time
pytz
timezonefinder
timezonefinder[pytz]

## formatting
croniter
fastparquet
fastavro
geojson
orjson # fast (de)serialization
pyarrow
sql-formatter
## temporary necessities
smartystreets-python-sdk
fuzzywuzzy
python-Levenshtein
xlsxwriter
bitarray
scikit-learn
## data viz
plotly
kaleido
python-pptx==0.6.23
matplotlib
seaborn

## dev only
facebook-business 
# nbformat==4.2.0

nest_asyncio